body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Source Code Pro', sans-serif;
}
  
#id {
  height: 100%;
}

header {
  margin-top: 20px;
  height: 50px;
}

.App {
  flex: auto;
}
